header, main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
}

.btn-on, .btn-off {
    width: 80px;
    height: 30px;
    font-size: 1em;
    padding: 2px;
    cursor: pointer;
}

.btn-on {
    background-color: green;
    border: none;
    box-shadow: 1px 2px 1px black;
    color: white;
}

.btn-off {
    background-color: red;
    border: none;
    box-shadow: 1px 2px 1px black;
    color: white;
}

.btn-on:hover {
    background-color: rgb(0, 179, 0);
    transition: 0.2s;
}

.btn-off:hover {
    background-color: rgb(190, 0, 0);
    transition: 0.2s;
}